* {
    box-sizing: border-box;
    scroll-behavior: smooth;

}
a {
    text-decoration: none;
    color: #000;
}
/************* Styling the `Header` section  *************/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFDFCA;
    z-index: 9999;
    font-size: 26px;
    font-weight: 800;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px ;
    flex-wrap: wrap;
    transition: opacity 0.5s ease-in-out; /* Add a transition for smooth appearance */
    opacity: 1; /*  initial opacity set to 1 */
  }
  .nav-header {
    margin-right: 10px;
  }
  .header:hover {
    opacity: 1; /* Ensure the header is fully visible when hovered over */
  }
  
  .header:not(:hover) {
    opacity: 0; /* Set the opacity to 0 when not hovered over */
  }

  /************* Styling the `Hero` section  *************/
#home {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
    border: 1px ridge #FFE694 ;
    border-radius: .5px;
    display: block;
    position: relative;
    top: 20px;
}

.hero-section {
    margin: 15vh auto 40vh  ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;

}
.hero-section-image , .hero-section-text {
    display: inline-block;
    flex: 1;

}

.hero-section-text h2 {
    font-size: 60px;
    margin:80px auto;
    font-weight:100px;
}

.hero-section-text p {
    font-size: 32px;
    margin:60px auto;
    font-weight: 400;
    word-wrap: normal;
}
.hero-section-image img {
    max-width: 100%;
    max-height: 100vh;

}