* {
    box-sizing: border-box;
    scroll-behavior: smooth;

}
a {
    text-decoration: none;
    color: #000;
}
/************* Styling the `Header` section  *************/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFDFCA;
    z-index: 9999;
    font-size: 26px;
    font-weight: 800;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px ;
    flex-wrap: wrap;
    transition: opacity 0.5s ease-in-out; /* Add a transition for smooth appearance */
    opacity: 1; /*  initial opacity set to 1 */
  }
  .nav-header {
    margin-right: 10px;
  }
  .header:hover {
    opacity: 1; /* Ensure the header is fully visible when hovered over */
  }
  
  .header:not(:hover) {
    opacity: 0; /* Set the opacity to 0 when not hovered over */
  }

  /************* Styling the `Hero` section  *************/
#home {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
    border: 1px ridge #FFE694 ;
    border-radius: .5px;
    display: block;
    position: relative;
    top: 20px;
}

.hero-section {
    margin: 15vh auto 40vh  ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;

}
.hero-section-image , .hero-section-text {
    display: inline-block;
    flex: 1;

}

.hero-section-text h2 {
    font-size: 60px;
    margin:80px auto;
    font-weight:100px;
}

.hero-section-text p {
    font-size: 32px;
    margin:60px auto;
    font-weight: 400;
    word-wrap: normal;
}
.hero-section-image img {
    max-width: 100%;
    max-height: 100vh;

}

/************* Styling the `gallary` section  *************/
.gallary-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:6px;
    margin:10px;
    flex-wrap: wrap;
}

.sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.sub-container img {
  max-width: 100%;
  height: 100vh;
  object-fit: cover;
  margin: 16px;
}


/************* Styling Testimonial section  *************/
.testimonial-container h3 {
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    margin: 20px auto;
}
.testimonial-container h3 span{
color: red;
}
.testimonial-container {
    position: relative;
    width: 85%;
    overflow: hidden;
    margin: 200px auto 300px;
    border: 2px dashed gray ;
    background-color: #F9F871;
    height: 60vh;
  }
  
  .testimonial-slide {
    display: none;
    background-color: #F9F871;
    color: #000000;
    font-size: 42px;
    font-weight: 500;
    padding: 20px;
    text-align: center;
    transition: opacity .5 ease-in-out;
    height: 50vh;
    word-wrap: normal;
  }
  
  .testimonial-slide.active {
    display: block;
  }
  
  .testimonial-quote {
    margin-bottom: 10px;
  }
  
  .testimonial-author {
    color: babyblue;
    font-style: italic;
  }
  
  .testimonial-controls {
    text-align: center;
    position: relative;
    top: -50px;
  }
  
  .testimonial-prev,
  .testimonial-next {
    padding: 5px 20px;
    font-size: 30px;
    cursor:pointer;
    border: 1.5px double black;
  }
  
/************* Styling Contact us section  *************/
#booking-section {
    background-color: #FFDFCA;
    padding: 20px;
    width: 70%;
    text-align: center;
    width: 65%;
    margin: 60vh auto 20vh;
    
  }
  
  #contact-form {
    display: flex;
    margin : 20px auto;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-weight: 500;
    margin:10px auto;
  }
  
  input, select {
    width: 100%;
    padding: 12px;
    margin:10px auto;

  }
  
  .note {
    font-size: 20px;
  }
  
  button {
    background-color: #F9F871;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 35%;
  }
  
  button:hover {
    background-color: #DCE7A4;
  }